*{
    margin:0px;
    padding:0px;
}
.grandfather,
.father,
.child{
    min-height: 150px;
    padding: 20px;
    border: 1px solid black;
}

/* .btn{
    position: relative;
    top: 50px;
    left: 200px;
} */

.btn{
    position: absolute;
    top: 0;
    left: 0;
}

.father{
    position: relative;
}

.child{
    position: relative;
}

/* SETTING THE NAVBAR AT A FIXED PLACE */
.navbar{
    height: 20px;
    padding: 10px;
    background-color: rgb(3, 53, 15);
    margin-bottom: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navElement{
    margin-right: 15px;
}

.navElement:link{
    text-decoration: none;
    color: yellow;
}

.navElement:visited{
    color: white;
}

.navElement:hover{
    text-decoration: underline;
    color: white;
}

.container{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}