
body{
    perspective: 800px;
}
/* h1{
    transform-style: preserve-3d;
} */


.side-a,
.side-b{
    height: 400px;
    width: 250px;
    border: 1px solid black;
    margin: auto;
}

.card{
    height: 400px;
    width: 250px;
    border: 1px solid black;
    margin: 50px auto;
    transition-duration: 2s;
    /* it is used for 3d effects to the child after giving perspective to the body transformation, by defaults it is on 2d tranformation */
    transform-style: preserve-3d;
}

.side-a{
    background-color: greenyellow;
    background-image: url("https://pbs.twimg.com/media/EVkyIf_UUAAcxXc.jpg");
    /* by default it will repeat the images multiple time we can set by repeat-y,repeat-x or no-repeat */
    background-repeat: no-repeat;
    /* we can use cover or contain in background-size */
    background-size: cover; 
    /* it is used to set the position of the image */
    background-position-x: center;
    position: absolute;
    z-index: 1;
    backface-visibility: hidden;
}

.side-b{
    background-color: crimson;
    position: absolute;
    text-align: center;
    transform: rotateY(180deg);

}

.card:hover{
    transform: rotateY(180deg);
    /* backface-visibility: hidden; */
}